@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-MediumItalic.woff2') format('woff2'),
        url('../fonts/Roboto-MediumItalic.woff') format('woff'),
        url('../fonts/Roboto-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Light.woff2') format('woff2'),
        url('../fonts/Roboto-Light.woff') format('woff'),
        url('../fonts/Roboto-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Medium.woff2') format('woff2'),
        url('../fonts/Roboto-Medium.woff') format('woff'),
        url('../fonts/Roboto-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-LightItalic.woff2') format('woff2'),
        url('../fonts/Roboto-LightItalic.woff') format('woff'),
        url('../fonts/Roboto-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-BoldItalic.woff2') format('woff2'),
        url('../fonts/Roboto-BoldItalic.woff') format('woff'),
        url('../fonts/Roboto-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Black.woff2') format('woff2'),
        url('../fonts/Roboto-Black.woff') format('woff'),
        url('../fonts/Roboto-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.woff2') format('woff2'),
        url('../fonts/Roboto-Bold.woff') format('woff'),
        url('../fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Italic.woff2') format('woff2'),
        url('../fonts/Roboto-Italic.woff') format('woff'),
        url('../fonts/Roboto-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-BlackItalic.woff2') format('woff2'),
        url('../fonts/Roboto-BlackItalic.woff') format('woff'),
        url('../fonts/Roboto-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Thin.woff2') format('woff2'),
        url('../fonts/Roboto-Thin.woff') format('woff'),
        url('../fonts/Roboto-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-ThinItalic.woff2') format('woff2'),
        url('../fonts/Roboto-ThinItalic.woff') format('woff'),
        url('../fonts/Roboto-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto-Regular.woff') format('woff'),
        url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto';
}

hr {
    width: 100%;
    margin: 50px 0;
    border: none;
    border-top: 1px solid #dcdcde;
}

h1 {
    font-family: "Roboto Slab";
}

.wrapper {
    max-width: 990px;
    margin: 0 auto;
}

input,
select,
option,
textarea {
    width: 100%;
}

input:focus,
textarea:focus {
    border-radius: 3px;
    filter: drop-shadow(0 0 2.5px rgba(62, 106, 255, 0.55));
    background-color: #ffffff;
    border: 1px solid #3e6aff;
}

input,
textarea {
    border: 1px solid #cccccc;
    border-radius: 3px;
}

.header-line h1 {
    display: flex;
    justify-content: center;
    padding-top: 77px;
    padding-bottom: 71px;
}

h2 {
    font-size: 20px;
    text-transform: uppercase;
    color: #b3b3b3;
    font-weight: 700;
    font-family: "Roboto";
    padding-bottom: 28px;
}

.text {
    width: 100%;
    margin-bottom: 9px;
}

.first_sixthform {
    display: flex;
    justify-content: space-between;
}

.firstform textarea,
.forthform textarea {
    outline: none;
    min-height: 131px;
    max-height: 151px;
    height: 100%;
    width: 100%;
    resize: vertical;
    font-family: "Roboto";
    padding: 16px 17px;
}

.firstform textarea::placeholder {
    font-family: "Roboto";
}

.firstform input,
.inp select,
.t1 input,
.t1 select,
.fifthform input,
.fifthform select,
.sixthform_form input {
    padding: 11.5px 17px;
    outline: none;
}

.inp {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.citychoose {
    margin-bottom: 9px;
}

.inp>select {
    margin-bottom: 9px;
}

.inp,
.firstform {
    max-width: 331px;
}

.name,
.e-adress,
.btn {
    margin-bottom: 9px;
    width: 331px;
}

.btn button,
.register,
.enter {
    display: block;
    padding: 13px 0;
    width: 100%;
    border: none;
    transition: all .5s ease;
    background-color: #12d661;
    border-radius: 3px;
    font-size: 14px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Roboto";
    text-align: center;
}

.btn button:hover,
.register:hover,
.enter:hover,
.purchase-submit:hover {
    border-radius: 3px;
    filter: drop-shadow(0px 2px 2.5px rgba(8, 118, 52, 0.35));
    background-color: #07be51;
}

.sixthform {
    width: 331px;
}

.sixthform_form {
    position: fixed;
    z-index: 2;
    border-radius: 5px;
    filter: drop-shadow(0px 5px 6px rgba(0, 0, 0, 0.15));
    background-color: #fafafa;
    border: 1px solid #e6e6e6;
    width: 100%;
    max-width: 331px;
}

.sixthform_form label {
    font-size: 13px;
    color: #b3b3b3;
    font-weight: 400;
    font-family: "Roboto";
}

.sixthform_form button {
    border-radius: 3px;
    background-color: #12d661;
    font-size: 14px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Roboto";
    text-align: center;
    border: none;
    padding: 14px;
    min-width: 261px;
    width: 100%;
}

.sixthform_width p {
    margin-bottom: 13px;
}

.sixthform_width a {
    font-size: 13px;
    color: #3e6aff;
    font-weight: 400;
    font-family: "Roboto";
    text-decoration: none;
}

.sixthform_width label {
    display: inline-block;
    margin-bottom: 9px;
}

a.cancel {
    position: absolute;
    transition: all .5s ease;
    top: 11px;
    right: 11px;
    color: #b3b3b3;
    font: 'Roboto';
}

a.cancel:hover {
    transform: scale(1.3);
}

.forgot_password {
    display: inline-block;
    margin-bottom: 12px;
}

.forgot_password:hover {
    text-decoration: underline;
}

.memory {
    font-size: 13px;
    color: #1f222c;
    font-weight: 400;
    font-family: "Roboto";
}

.keycode input {
    background-color: #ffffff;
}

.keycode .memory {
    font-size: 13px;
    color: #1f222c;
    font-weight: 400;
    font-family: "Roboto";
}

.sixthform_width {
    padding: 25px;
}

.radios p+p,
.checkboxes p+p {
    margin-top: 19px;
}

.secondform form,
.radiocheckbox {
    justify-content: space-between;
}

.secondform form,
.radios,
.checkboxes,
.radiocheckbox {
    display: flex;
}

.radios,
.checkboxes {
    flex-direction: column;
}

.radios {
    padding-right: 61px;
}

.blueradio,
.check {
    display: none;
}


.blueradio+.bluelabel {
    position: relative;
}

.bluespan {
    display: inline-block;
    padding-left: 27px;
}

.blueradio+.bluelabel::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 16px;
    height: 16px;
    border: 1px solid #cccccc;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.blueradio:checked+.bluelabel::after,
.blueradio:disabled+.bluelabel::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 16px;
    height: 16px;
    border: 1px solid #3e6aff;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.blueradio:checked+.bluelabel::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 8px;
    height: 8px;
    border: transparent;
    background-color: #3e6aff;
    transform: translate(-50%, -50%);
}

.blueradio:disabled+.bluelabel::before,
.check:disabled+.checklabel::before {
    background-color: #f7f7f7;
    border: 1px solid #e5e5e5;
}

.blueradio:disabled+.bluelabel,
.check:disabled+.checklabel,
.bluedisabled {
    font-size: 14px;
    color: #b3b3b3;
    font-weight: 400;
}

.radio input {
    display: none;
}

.radio input+label {
    position: relative;
}

.radio input+label::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
}

.stat-date {
    width: 474px;
    height: 115px;
    border-radius: 3px;
    padding: 21px;
    background-color: #f7f7f7;
    border: 1px solid #e5e5e5;
}

.status,
.date {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.status {
    column-gap: 33px;
    margin-bottom: 32px;
}

.sell,
.chebox label {
    font-size: 14px;
}

.sell {
    min-width: 130px;
}

.status p,
.date p {
    font-size: 14px;
    color: #b3b3b3;
    font-weight: 700;
}

.chebox {
    display: flex;
    justify-content: flex-start;
    column-gap: 24px;
}

.check+.checklabel {
    position: relative;
    padding-left: 27px;
}

.check+.checklabel::before,
.check:disabled+.checklabel::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 17px;
    height: 17px;
    border-radius: 3px;
    border: 1px solid #cccccc;
}

.check:checked+.checklabel::after {
    content: "";
    position: absolute;
    top: 3px;
    left: 5px;
    width: 5px;
    height: 7px;
    border-top: 2.5px solid #244dd7;
    border-left: 2.5px solid #244dd7;
    transform: rotate(-135deg);
}

.check:checked+.checklabel::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 17px;
    height: 17px;
    border: 1px solid #244dd7;
}

.status .check+.checklabel::before {
    background-color: #ffffff;
}

.date {
    column-gap: 45px;
}

.racheck {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 30%;
}

.man,
.woman {
    display: flex;
}

.thirdform h2 {
    margin-bottom: 34px;
}

.man input+label,
.woman input+label {
    position: relative;
    padding: 30px 0 30px 86px;
}

.man input+label::before,
.man input:checked+label::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 70px;
    height: 70px;
}

.man input:checked+label::after {
    background: url(../img/colorman.png);
}

.man input+label::before {
    background: url(../img/blackman.png);
}

.woman input+label::before,
.woman input:checked+label::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 70px;
    height: 70px;
}

.woman input:checked+label::after {
    background: url(../img/Woman.png);
}

.woman input+label::before {
    background: url(../img/blackwoman.png);
}

.checkbox input {
    display: none;
}

.checkbox p+p {
    margin-top: 31px;
}

.checkbox input+label {
    position: relative;
    padding-left: 65px;
}

.checkbox input+label::before,
.checkbox input:checked+label:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 46px;
    height: 26px;
    background-color: #cfcfd1;
    border-radius: 12px;
    transition: all .5s ease;
    transform: translateY(-50%);

}

.checkbox input+label::after,
.checkbox input+label::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 2px;
    width: 21px;
    height: 21px;
    border-radius: 11px;
    background-color: #ffffff;
    transition: all .5s ease;
    transform: translateY(-50%);
}

.checkbox input:checked+label:before {
    background-color: #3e6aff;
    transition: all .5s ease;
    transform: translateY(-50%);
}

.checkbox input:checked+label::after {
    left: 22.5px;
    transition: all .5s ease;
    transform: translateY(-50%);
}

table {
    width: 100%;
}

.formverification tr {
    display: flex;
    row-gap: 19px;
    width: 100%;
    column-gap: 81px;
}

tbody p {
    min-width: 91px;
}

.recomendedspace,
.buyform {
    font-size: 18px;
    color: #1f222c;
    font-weight: 700;
    margin-bottom: 25px;
}

.t1,
.t3 textarea,
.t2 {
    margin-bottom: 14px;
    align-items: center;
}

.gender_man {
    padding-right: 23px;
}

.t1 td:nth-child(2),
.t2 td:nth-child(2),
.t3 :nth-child(2) {
    width: 341px;
}

.t2 {
    padding: 5px 0;
}

.gender_choose {
    display: flex;
    column-gap: 23px;
}

.filechoose {
    border: none;
    font-size: 14px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Roboto";
    text-align: center;
    border-radius: 3px;
    background-color: #3e6aff;
    padding: 12px 37px;
}

.fifthform {
    max-width: 681px;
}

.fifthform tbody tr:first-child td {
    padding-bottom: 6px;
}

.fifthform table,
.fifthform tr,
.fifthform td {
    border-collapse: collapse;
}

.fifthform td {
    min-width: 221px;
}

.fifthform td+td {
    padding-left: 9px;
}

.fifthform table label {
    font-size: 13px;
    color: #b3b3b3;
    font-weight: 400;
    font-family: "Roboto";
}

.inpmb {
    margin-bottom: 29px;
}

.btns {
    display: flex;
    justify-content: space-between;
    padding-bottom: 144px;
}

.back-to {
    transition: all .5s ease;
    padding: 13px 25px;
    border-radius: 3px;
    background-color: #ffffff;
    border: 1px solid #85868d;
    font-size: 14px;
    color: #6e6f77;
    font-weight: 700;
    font-family: "Roboto";
    text-align: center;
}

.back-to:hover {
    border-radius: 3px;
    background-color: #85868d;
    font-size: 14px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Roboto";
    text-align: center;
}

.purchase-submit {
    padding: 13px 25px;
    border-radius: 3px;
    transition: all .5s ease;
    background-color: #12d661;
    font-size: 14px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Roboto";
    text-align: center;
    border: none;
}

.countryl {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
}

.country {
    border: 1px solid #cccccc;
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    border-radius: 3px;
}

.countryl::before {
    content: "";
    position: absolute;
    top: 60%;
    right: 14px;
    border: 7px solid transparent;
    border-top-color: #1f222c;
    z-index: -1;
    transform: translateY(-50%);
}

.greyline::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 33px;
    width: 1px;
    height: 19px;
    background-color: #cccccc;
    transform: translateY(-50%);
}